


main{
 
      background-image: linear-gradient(rgb(108, 133, 181), rgb(32, 30, 71));
      font-family: 'Akshar', sans-serif;
}

h1{
    font-size: 50px;
}

img{
    width: 250px;
}

.about{
    font-size: 20px;
}
